<!-- this file goes in src/main/resources/logback.xml -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- overriding the default log level per class / package -->
    <!-- <logger name="com.example" level="INFO" /> -->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
